<section id="accueil_2">
    <div id="ourMenu_2" (click)="changeNavActive('menu')" [routerLink]="'/app-menu'" routerLinkActive="active">
        <h2>Menus</h2>
    </div>
    <div id="recommandation_2">
        <h2>Les meilleures ventes du mois</h2>
    </div>
    <div id="recommandationsContainer_2">
        <ng-container *ngFor="let recommandation of recommandations">
            <div *ngIf="recommandation.fav == 1" class="recommandation" (click)="selectBoxID(recommandation.id)"
                [routerLink]="'/app-box'" routerLinkActive="active"
                [style.background-image]="'url(/assets/ressource/box/' + recommandation.image + '.png)'">
                <p>{{recommandation.nom}}</p>
                <div>
                    <p>{{recommandation.prix}}€</p>
                    <div id="stars_2">
                        <img src="/assets/ressource/star.svg" alt="Star icon">
                        <p>{{recommandation.stars}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>